# loopback network interface
{% for iface in interfaces if iface.name is match("^lo.*") %}
auto lo
iface lo inet loopback
{% if loopback_ip is defined %}
    address {{ loopback_ip }}
{% if cluster_role == 'master' or cluster_role == 'slave' %}
    vxrd-src-ip {{ loopback_ip [:-3] }}
{% endif %}
{% endif %}
{% if iface.description != '' %}
    alias {{ iface.description }}
{% endif %}
{% if clagd_vxlan_anycast_ip is defined %}
    clagd-vxlan-anycast-ip {{ clagd_vxlan_anycast_ip }}
{% endif %}

{% endfor -%}

# management network interface
{% for iface in interfaces if iface.name is match("eth0") %}
auto eth0
iface eth0 inet static
    address {{ iface.address }}
{% if securityblock == 'INT' %}
    gateway {{ oob_gateway_int }}
{% elif securityblock == 'DMZ' %}
    gateway {{ oob_gateway_dmz }}
{% endif %}
{% endfor %}

{% if sim_host %}
#vagrant network interface
auto vagrant
iface vagrant inet dhcp
{% if repo_ip and vagrant_gw %}
    up route add -host {{ repo_ip }} gw {{ vagrant_gw }}
    down route del -host {{ repo_ip }} gw {{ vagrant_gw }}
{% endif %}
{% endif %}

# switch ports
{% for iface in interfaces if not iface.name is match("^lo.*|eth.*") and not (iface.form_factor == 'Link Aggregation Group (LAG)' or iface.form_factor == 'Virtual') %}
auto {{ iface.name }}
iface {{ iface.name }}
{% if iface.address != None %}
    address {{ iface.address }}
{% endif %}
{% if iface.description != '' %}
    alias {{ iface.description }}
{% endif %}
{% if iface.untagged_vlan != None and not iface.tagged_vlans %}
    bridge-access {{ iface.untagged_vlan }}
{% elif iface.untagged_vlan != None %}
    bridge-pvid {{ iface.untagged_vlan }}
{% endif %}
{% if iface.tagged_vlans %}
    bridge-vids {{ iface.tagged_vlans | ranges }}
{% endif %}
{% if iface.form_factor == 'Other' and other_interfaces[ansible_hostname][iface.name] is defined %}
{% for interface_setting in other_interfaces[ansible_hostname][iface.name] %}
    {{ interface_setting }}
{% endfor %}
{% endif %}
{% if iface.form_factor == '100BASE-TX (10/100ME)' %}
    link-autoneg on
    link-speed 100
{% endif %}
{% if iface.form_factor == 'SFP (1GE)' %}
    link-speed 1000
{% endif %}
{% if peerlink_bond_slaves is search(iface.name) and (cluster_role == 'master' or cluster_role == 'slave') %}
{% elif iface.lag == None %}
    mtu 9000
{% endif %}
{% if iface.vrf is defined and iface.vrf != None %}
    vrf {{ iface.vrf | lower }}
{% endif %}

{% endfor -%}

{% if device_role != 'spines' %}
#bridge
auto bridge
iface bridge
    bridge-vlan-aware yes
    bridge-ports peerlink {% for iface in interfaces %}{% if iface.mode == 'Tagged All' %}{{ iface.name }} {% elif iface.tagged_vlans or iface.untagged_vlan != None %}{{ iface.name }} {% endif %}{% endfor %}{% for vlan in configured_vlans %}vni-{{ vlan.vid }} {% endfor %}

{% if configured_vlans and device_role == 'leafs' %}
    bridge-vids {% for vlan in configured_vlans %}{{ vlan.vid }} {% endfor %}
{% elif device_role == 'server_accesss' or device_role == 'access_concentrators' %}
{% if cluster_bridge_vids %}
    bridge-vids {{ cluster_bridge_vids | ranges }}
{% elif bridge_vids %}
    bridge-vids {{ bridge_vids | ranges }}
{% endif %}
{% endif %}
{% endif %}


#vrfs
{% for vrf in configured_vrfs %}
auto {{ vrf.name | lower }}
iface {{ vrf.name | lower }}
    vrf-table auto

{% endfor -%}

#peerlink
{% if cluster_role == 'master' %}
auto peerlink
iface peerlink
    bond-slaves {{ peerlink_bond_slaves }}
    mtu 9000

auto peerlink.4094
iface peerlink.4094
    address 169.254.1.1/30
    clagd-enable yes
    clagd-peer-ip 169.254.1.2
{% if cluster_partner_primary_ip is defined %}
    clagd-backup-ip {{ cluster_partner_primary_ip }}
{% endif %}
    clagd-priority 100
    clagd-sys-mac {{ peerlink_mac }}
{% elif cluster_role == 'slave' %}
auto peerlink
iface peerlink
    bond-slaves {{ peerlink_bond_slaves }}
    mtu 9000

auto peerlink.4094
iface peerlink.4094
    address 169.254.1.2/30
    clagd-enable yes
    clagd-peer-ip 169.254.1.1
{% if cluster_partner_primary_ip is defined %}
    clagd-backup-ip {{ cluster_partner_primary_ip }}
{% endif %}
    clagd-priority 200
    clagd-sys-mac {{ peerlink_mac }}
{% endif %}

#bonds
{% for iface in interfaces if iface.form_factor == 'Link Aggregation Group (LAG)' %}
auto {{ iface.name }}
iface {{ iface.name }}
{% if iface.bond_slaves %}
    bond-slaves {{ iface.bond_slaves | join(" ") }}
{% endif %}
{% if iface.address != None %}
    address {{ iface.address }}
{% endif %}
{% if iface.description != '' %}
    alias {{ iface.description }}
{% endif %}
{% if iface.untagged_vlan != None %}
    bridge-pvid {{ iface.untagged_vlan }}
{% endif %}
{% if iface.tagged_vlans %}
    bridge-vids {{ iface.tagged_vlans | ranges }}
{% endif %}
{% if iface.clag_id != None %}
    clag-id {{ iface.clag_id }}
{% endif %}
{% if iface.lag == None %}
    mtu 9000
{% endif %}
{% if iface.vrf is defined and iface.vrf != None %}
    vrf {{ iface.vrf | lower }}
{% endif %}

{% endfor -%}

#vlan interfaces
{% for iface in interfaces if iface.form_factor == 'Virtual' and iface.name is match("^vlan.*") %}
{% for vlan in configured_vlans if iface.vid == vlan.vid | string %}
{% set _dummy = iface.update({'anycast_ip':vlan.anycast_ip,'status':vlan.status,'prefix_vrf':vlan.vrf}) %}
{% endfor %}
{% if device_role == 'leafs' and  iface.status == 'Active' %}
auto {{ iface.name }}
iface {{ iface.name }}
{% if iface.address != None %}
    address {{ iface.address }}
{% endif %}
{% if securityblock == 'INT' and iface.anycast_ip is defined and iface.anycast_ip != None %}
{% set mac = '000' + iface.vid | string  %}
{% set mac = mac[-4:] %}
    address-virtual 44:39:39:ff:{{ mac[:-2] }}:{{ mac[-2:] }} {{ iface.anycast_ip }}
{% endif %}
{% if iface.description != '' %}
    alias {{ iface.description }}
{% endif %}
    vlan-id {{ iface.vid }}
    vlan-raw-device bridge
{% if iface.prefix_vrf is defined and iface.prefix_vrf != None %}
    vrf {{ iface.prefix_vrf | lower }}
{% endif %}

{% elif device_role == 'server_accesss' or device_role == 'access_concentrators' %}
auto {{ iface.name }}
iface {{ iface.name }}
{% if iface.address != None %}
    address {{ iface.address }}
{% endif %}
{% if iface.description != '' %}
    alias {{ iface.description }}
{% endif %}
    vlan-id {{ iface.vid }}
    vlan-raw-device bridge

{% endif -%}
{% endfor -%}

#vnis
{% for vlan in configured_vlans %}
auto vni-{{ vlan.vid }}
iface vni-{{ vlan.vid }}
    bridge-access {{ vlan.vid }}
    bridge-learning off
    mstpctl-bpduguard yes
    mstpctl-portbpdufilter yes
    mtu 8950
    vxlan-id {{ vlan.vid }}
    vxlan-local-tunnelip {{ loopback_ip[:-3] }}

{% endfor -%}
